@import "tailwindcss";
@import 'swiper/css';
:root {
    --font-roboto-mono: var(--font-roboto-mono);
    --font-open-sans: var(--font-open-sans);
}

body {
    font-family: var(--font-roboto-mono);
    background-color: #F9FAFB;
}

@layer utilities {
    .animate-marquee {
        animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .animate-slide-in {
        transition: all 0.3s ease-in-out;
        transform: translateY(1rem);
        opacity: 0;
        animation: slideIn 0.3s forwards;
    }
    @keyframes slideIn {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

* {
    transition: all 0.2s ease-in-out;
}